body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    height: 70px;
    background-color: #141414;
    padding: 0 4%;
}

header nav a:not(.logo){
    display: none;
}

header .logo{
    width: 110px;
    height: auto;
    background-color: #141414;
}


/*Styles for the selection profile  ui*/
.select-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    padding: 0 4%;
}

.select-user h2{
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    text-align: center;
}

.select-user #users-list{
    display: flex;
    flex-direction: row;
}

.select-user .options{
    text-align: center;
}

.select-user #users-list li{
    list-style: none;
    margin: 0 2vw 0 0;
    width: 10vw;
    max-width: 200px;
    min-width: 84px;
}

.select-user #users-list a{
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    color: #808080;
}

.select-user #users-list a:hover{
    color: #fff;
}

.select-user #users-list img{
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    border: 3px solid rgba(128, 128, 128, 0.6) ;
}

.select-user #users-list li.add-profile{
    border: none;
    height: 14vw;
    width: 10vw;
}

.select-user #users-list li.add-profile img{
    height: 6vw;
    width: 6vw;
    padding: 2.1vw 2vw;
    border: none;
}

.select-user #users-list li.add-profile img path{
    fill: #fff;
}

.select-user #users-list img:hover{
    border: 3px solid #fff ;
}

.select-user .admin-profiles{
    display: block;
    margin: 2em 0 1em 0;
    font-size: 1.3vw;
}

.select-user .admin-profiles a{
    color: #808080;
    border: 1px solid #808080;
    text-transform: uppercase;
    padding: .5em 1.5em;
    letter-spacing: 2px;
    text-decoration: none;
}

.select-user .admin-profiles a:hover{
    color: #fff;
    border: 1px solid #fff;
}

header div{
    display: none;
}